<div class="admin-container flex 2xl:w-1/2 mx-auto">
    <div class="w-full">
        <div class="p-4">
            <div style="margin-top:150px"></div>
            <a routerLink="categories" routerLinkActive="active-tab"
                class="px-4 py-2 bg-gray-300 text-white rounded mr-2">Categories</a>
            <a routerLink="products" routerLinkActive="active-tab"
                class="px-4 py-2 bg-gray-300 text-white rounded">Products</a>
        </div>
        <div class="p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>